<!-- Site Header -->
<div id="header">
  <div id="logo">
    <h1></h1> <!-- Site's Title on line 36 and 42 in layout.css  -->
  </div>
</div>

<!-- Navigation Bar -->

<div id="nav">
  <div id="nav_holder">

    <!--    <ul>
          <li class="first"><a href="#"> Home </a> </li>
          <li><a href="#"> Rules </a> </li>
          <li><a href="#"> Help </a> </li>
          <li><a href="#"> Forum </a> </li>
        </ul>

        <ul class="right">

        </ul>-->

  </div>
</div>


<!-- Main Content -->

<div class="sub_header">


  <!-- Announcements Ribbon -->

  <div class="announcement">
    <ul id="items">
      <li class="font_logo">0xf5e8e86bd94423d5587103b6f38f31baf0fed979</li>
    </ul>

  </div>
  <!-- Creates the ribbon feel -->
  <div class="triangle-l"></div>
  <div class="triangle-r"></div>

</div>

<!-- End of Header and Sub-Header -->


<!--
    ====================================
        Now The Main Content Begins
    ====================================
    -->


<!-- Content Container -->

<div id="content_container">


  <!-- Right Content -->

  <div class="right_content">

    <h1> Welcome! </h1> <!-- Title -->


    <!-- This is dummy text. You can change it to whatever you like -->
    <ul>
      <li>Hashrate : {{gimli?.hashrate}}</li>
      <li>Balance : {{gimli?.balance}}</li>
      <li>
        Hashrate :
        <ul>
          <li>last hour : {{gimli?.avgHashrate?.h1}}</li>
          <li>last 3 hours : {{gimli?.avgHashrate?.h3}}</li>
          <li>last 6 hours : {{gimli?.avgHashrate?.h6}}</li>
          <li>last 12 hours : {{gimli?.avgHashrate?.h12}}</li>
          <li>last 24 hours : {{gimli?.avgHashrate?.h24}}</li>
        </ul>
      </li>
      <li>LastShare : {{gimli?.workers[0].lastshare}}</li>
    </ul>


    <div class="footer">

      <p>Copyright &copy; 2012 - Server Name

    </div>

  </div>


  <!-- Sidebar. You can either have one long sidebar or multiple "widgets" -->

  <div class="sidebar">

    <h3 class="address">Server Address</h3>
    <p class="address">555.5555.555:25565</p>

  </div>

  <div class="sidebar">

    <!-- Change To Online or Offline depending on your server status -->
    <h3>Server Status: </h3>
    <div ng="offline"></div>

  </div>

  <div class="sidebar">

    <h3> Example Header </h3>
    <p>This is where you can put a server description or anything else!</p>
    <h3>

    </h3>

  </div>
</div>
